<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdSXzirXtpawZiiWaO50LHJ91yUxuJgeA</string>
	<key>GCM_SENDER_ID</key>
	<string>521551501703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neonsigntrap.workoutTracker2026</string>
	<key>PROJECT_ID</key>
	<string>sesac-workout-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-workout-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521551501703:ios:123f992317ea8ca023db22</string>
</dict>
</plist>